<div class="header-content">
  <div class="header-menu-left">
    <div class="header-logo">
      <img src="https://cdnfront.everis.com/everisitcdn-dev/evehea…ssets/imgs/header/nttlogo-15h.png?v=1790111159788" alt="Logo">
    </div>
    <div class="header-nav">
      <span class="header-nav-item">Formación Técnica</span> /
      <span class="header-nav-item">Sesiones</span> / 
      <span class="header-nav-item">Crear Sesión</span>
    </div>
  </div>
  <div class="header-menu-right">
    <div class="icon">

    </div>
    <div class="user-info">
      <span class="user-info-lead">Maria Gómez</span>
      <span class="user-info-perfil">Lider de Chapter</span>
    </div>
    <div>
      <img src="icon/logout.svg" alt="Logout">
    </div>
  </div>
</div>
